<h1><%= @document.file.filename %></h1>
<% if @document.file.attached? %>
  <p><strong>PDF File:</strong></p>
  <%= link_to "Download PDF", rails_blob_path(@document.file, disposition: "attachment") %><br>
  <br>
  <%=link_to "Back_to_documents", documents_path%><br>
  <iframe src="<%= rails_blob_path(@document.file) %>" width="100%" height="700"></iframe>
<% else %>
  <p>No PDF file attached.</p>
<% end %>
